.container{
    height: 1.75cm;
    width: 100%;
    background-color: rgb(5, 59, 59);
}

.navbar-brand{
    font-size: 2vh;
    color: white;
    text-decoration: none;
}

.btn {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(8, 100, 238); 
    color: rgb(255, 255, 255); 
    border: 3px solid rgb(5,59,59);
    float: right;
    border-radius: 16px;
  }